*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.mainBack {
background-color: rgb(184, 109, 101);
min-height: 650px ;
}
.bRadius {
  border-radius: 50%;
}

.navbar.bg-back {
  background-color:rgb(254, 95, 2);
}
.navbar-brand {
  font-size: 30px;
}
.navbar-collapse {
  font-size: 24px;
}

.detail {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  row-gap: 20px;
  flex-direction: column;
  min-width: 400px;
  text-align: center;
  margin: 0 auto;
}
.bgColor{
  display: flex;
  justify-content: center !important;
}
.detail1 img {
  border-radius: 50%;
  object-fit: cover;

}
.btn:not(.btn-link) {
  background-color:rgb(254, 95, 2) !important;
  border: none;
  transition: transform 0.5s;
}
.btn:active  {
  transform: scale(0.9);
}
.bgWhite {
  border-radius: 5px;
  background-color: white;
  padding-top: 20px;
}
.detail2 {
  border-radius: 5px;
  border: 2px solid rgb(254, 95, 2);
  background-color: rgb(254, 95, 2);
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
}
.detail2 p {
  border-bottom: 1px dotted white ;
  } 

.detail h4 {
  color: rgb(254, 95, 2);
  padding: 10px 10px;
  border-radius: 15px;
  background-color: white;
  font-weight: 600;
}

.ingredients p {
border-bottom: 1px dotted rgb(254, 95, 2) ;
} 
.ingredients h4 {
  color: white;
  padding: 10px 10px;
  border-radius: 15px;
  background-color: rgb(254, 95, 2);
  font-weight: 600;
} 
.active {
  background-color: transparent;
  border: none;
}

.login-form {
  width: 300px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  background-color: rgba(127, 255, 212, 0.1);
  padding: 30px;
  border-radius: 20px;
  box-shadow:1px 1px 1px  rgb(254, 95, 2),-1px -1px 1px  rgb(254, 95, 2) ;
}
.loading {
  width: 200px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  z-index: 999;
  line-height: 200px;
  text-align: center;
}

.about {
  width: 80vw;
  height: 80vh;
  overflow-y: auto;
  background-color: aliceblue;
  margin: 30px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 50px 30px;
  background-image: url(./assets/back.png);
  background-position: center;
box-shadow: 1px 1px 1px 1px red,-1px -1px 1px 1px red;
}
.about h4 {
  color: white;
  padding: 10px 10px;
  border-radius: 15px;
  background-color: rgb(254, 95, 2);
  font-weight: 600;
}
.about p {
  font-weight: 600;
  color: white;
  text-shadow:1px 1px 1px  black ;

}

.icon-color {
color: rgb(254, 95, 2);
border-radius: 5px;
box-shadow:1px 1px 1px  rgb(254, 95, 2),-1px -1px 1px  rgb(254, 95, 2) ;
}